@charset "utf-8";
/**
* @version:	 		    2016.11.01
* @createTime: 	 		2016.11.23
* @updateTime: 			2016.11.23
* @author:				wuwg
* @name:  				component-loading
* @require              依赖reset.css
* @description          这里是是初始化加载的css,还有一个是ajax 加载的小圆圈，在global.js中用到了
 */
.fd-loading-init {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  text-align: center;
}
.fd-loading-init span {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  /*margin-top: -15px;*/
  margin-top: -0.8333333333333334rem;
  /*font: 0.7777777777777778rem/1.6666666666666667rem "Microsoft Yahei";*/
  font-size: 0.7777777777777778rem;
  line-height: 1.6666666666666667rem;
  font-family: "microsoft yahei";
}
.fd-loading-contain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.fd-loading-contain .fd-loading-mask {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.fd-loading-contain img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  /*width: 64px;*/
  width: 3.5555555555555554rem;
  /*height: 64px;*/
  height: 3.5555555555555554rem;
  /*margin-left: -32px;*/
  margin-left: -1.7777777777777777rem;
  /*margin-top: -32px;*/
  margin-left: -1.7777777777777777rem;
}
